@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {

	--purple: #7f00ff;
	--yellow: #ffd900;
	--dark-yellow: #d9b800;
	--white: #ffffff;
	--gray: #cecece;
	--dark-light: #545454;
	--dark-medium: #1d1d1d;
	--black: #000000;

	--placeholder-form: #a3a3a3;

	--border-radius: 10px;

	--font-family: "Montserrat", sans-serif !important;
}
