.navigation {
	background-color: var(--black);
	padding: 30px;
	color: var(--white);
	z-index: 9;
	@media (max-width: 1000px) {
		padding: 0px;
	}
	& .top {
		padding-top: 20px;
		display: flex;
		justify-content: space-between;
		.account-link {
			opacity: 0.3;
		}
	}
	& .icon {
		color: var(--dark-light);
	}
	& i {
		font-size: 1.3rem;
	}
	& a {
		color: var(--white);
		text-decoration: none;
		& span {
			display: block;
			margin-top: -2px;
			font-size: 0.6rem;
		}
	}
	& img{
		max-width: 160px;
	}
	& .row.justify-content-between {
		align-items: center;
		& .flexing {
			display: flex;
			justify-content: flex-end;
		}
	}
}
